# Configuration file

config {
    # Whitelist of the dimensions to generate samples in
    I:"Dimension whitelist" <
     >

    # Amount of samples per chunk to try to generate per entry in the ore samples category [range: 0 ~ 16, default: 3]
    I:MaxSamplesPerOrePerChunk=0

    # Count ores in chunk and control the amount of samples thereafter Will not exceed oresPerSample config [default: true]
    B:OreInChunkCounter=true

    # Amount of ores in a chunk required to create a surface sample of said ore [range: 0 ~ 65535, default: 15]
    I:OreNeededForSample=65535

    # Chance that a given ore sample will be placed (1 = 100%) [range: 0.0 ~ 1.0, default: 0.5]
    S:OreSampleChance=0

    # Ores to create and spawn samples of in the form 'name|colortint|type|drop', name is the oredict entry without the 'ore' infront ( oreIron -> Iron), colortint is in int-color value, type is either gem or ore (look of the sample, see cursepage for image examples), drop can either be in oreDict form of 'nugget,dust,bar,plate, gem or block' of the material you defined in the start or definied personally with 'Mod:item:meta'
    S:"Ores samples" <
        Iron|11571064|ore|empty
        Coal|3617582|ore|empty
        Gold|16435247|ore|empty
        Copper|15888396|ore|empty
        Tin|13421772|ore|empty
        Silver|14744063|ore|empty
        Lead|4745077|ore|empty
        Uranium|7985693|ore|empty
        Zinc|8219498|ore|empty
        Aluminium|13028044|ore|empty
        Tungsten|1315860|ore|empty
        Nickel|14271132|ore|empty
        Diamond|11529714|gem|empty
        Emerald|130081|gem|empty
        Lapis|797555|gem|empty
        Redstone|16711680|gem|empty
        Platinum|8966898|gem|empty
        Iridium|14745598|gem|empty
        Saltpeter|7562555|gem|empty
        Coralium|1207157|gem|empty
        Abyssalnite|5972648|ore|empty
        Aether|34799|gem|empty
        Sulfur|14929664|gem|empty
        Octine|16739840|ore|empty
        Scabyst|1136458|gem|empty
        Bone|7237188|ore|empty
        Syrmorite|3095927|ore|empty
        Valonite|11114921|gem|empty
        Salt|16119274|gem|empty
        Amethyst|8146846|gem|empty
        Garnet|6826819|gem|empty
        Opal|11323811|gem|empty
        Ruby|12850249|gem|empty
        Peridot|6787874|gem|empty
        Topaz|12540928|gem|empty
        Tanzanite|6684853|gem|empty
        Malachite|826499|gem|empty
        Sapphire|1669577|gem|empty
        Amber|14386444|gem|empty
        Crystal|11173528|gem|empty
        Quartz|10653843|gem|empty
        Fossil|14144171|ore|empty
        PetrifiedWood|4005140|ore|empty
        Gneiss|6636863|ore|empty
        Jade|2320187|gem|empty
        Temple|6708541|ore|empty
        Benitoite|26717|gem|empty
        Anglesite|7880704|gem|empty
        Osmium|12109511|ore|empty
        Meutoite|1974060|ore|empty
        Eximite|2958147|ore|empty
        Ignatius|13653553|ore|empty
        Lemurite|10920599|ore|empty
        ShadowIron|7101794|ore|empty
        Alduorite|5261721|ore|empty
        Kalendrite|13782005|ore|empty
        Midasium|14730048|ore|empty
        Vulcanite|7478300|ore|empty
        Vyroxeres|3331362|ore|empty
        Ceruclase|12311772|ore|empty
        Sanguinite|14531135|ore|empty
        Manganese|10045522|ore|empty
        Phosphorite|6302248|gem|empty
        Potash|9453339|gem|empty
        Prometheum|4085051|ore|empty
        DeepIron|2765637|ore|empty
        Infuscolium|4923960|ore|empty
        Carmot|9001526|ore|empty
        Oureclase|11817536|ore|empty
        Rubracium|6627627|ore|empty
        Adamantine|8984088|ore|empty
        Atlarus|15845719|ore|empty
        Lutetium|12501050|ore|empty
        Mithril|3125176|ore|empty
        Orichalcum|5733659|ore|empty
        AstralSilver|861286|ore|empty
     >
}
