"_VERSION"=1
general {
    # Maximum achievable levels. If set to 0 or lower there is no upper limit
    maximumLevels=6
    # Reduces the amount of modifiers a newly build tool gets if the value is lower than the regular amount of modifiers the tool would have
    newToolMinModifiers=0
}
toolxp {
    # Base XP for each of the listed tools
    baseXpForTool {
        "plustic:katana"=1000
        "plustic:laser_gun"=1000
        "tconstruct:arrow"=1000
        "tconstruct:battlesign"=1000
        "tconstruct:bolt"=1000
        "tconstruct:broadsword"=1000
        "tconstruct:cleaver"=1000
        "tconstruct:crossbow"=1000
        "tconstruct:excavator"=10000
        "tconstruct:frypan"=1000
        "tconstruct:hammer"=10000
        "tconstruct:hatchet"=1000
        "tconstruct:kama"=1000
        "tconstruct:longbow"=1000
        "tconstruct:longsword"=1000
        "tconstruct:lumberaxe"=10000
        "tconstruct:mattock"=1000
        "tconstruct:pickaxe"=1000
        "tconstruct:rapier"=1000
        "tconstruct:scythe"=10000
        "tconstruct:shortbow"=1000
        "tconstruct:shovel"=1000
        "tconstruct:shuriken"=1000
        "totaltinkers:battleaxe"=1000
        "totaltinkers:cutlass"=1000
        "totaltinkers:dagger"=1000
        "totaltinkers:explosive_arrow"=1000
        "totaltinkers:explosive_bow"=1000
        "totaltinkers:greatblade"=1000
        "totaltinkers:javelin"=1000
        "totaltinkers:scimitar"=1000
    }
    # Base XP used when no more specific entry is present for the tool
    defaultBaseXP=1000
    # How much the XP cost will multiply per level, minimum 2.
    levelMultiplier=4
}
