# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	Закон Уолшибэ гласит, что на один дирижабль приходится около пяти жертв и одно разрушенное здание.
	Мода на каламбуры меняется с каждым Циклом, но скелеты не признают это.
	Скрижалями запретили применение алхимии для смешивания вин и их испитие в количество более семи бутылей за раз.
	Как у кобольдов нельзя трогать свечу, так и у кузнецов лучше не забирать кузницу ради своего же.
	Если вы завели домашних питомцев, в частности кота и птицу, обязательно привейте кошку от бешенства.
	Не переворачивайте имена душ в ковбойской шляпе.
	Маскарад не всегда значит праздник, лучше не бродите по улицам. Они на крышах.
	Коэффициент длительности жизни правительства всегда выше, если его КПД ниже 0.
	Не стоит называть божеств названиями животных, обычно это может помешать взлету вашей карьеры.
	Отличительный признак бед с ментальным состоянием - белые волосы.
	Почаще заглядывайте в мусорные баки возле производственных зданий, там вы наверняка найдете оружие и броню.
	Относитесь с пониманием к вашей страже, однажды её может не стать.
	Не храните ману в себе, это отвлекает окружающих.
	Берегитесь ягодных кустов, не высаженных по стандарту Э., скорее всего это подделка и колючие кусты класса Д.
	Говорят, если бегать в припрыжку - можно упасть и сломать себе ноги
	Когда - то давно на Планах не было кулинарии, поэтому души питались исключительно ягодами
	Если вы видите что душа застыла на месте на долгое время - возможно это скрытый эмиссар древних
	Прошёл слух, что из Города изгнали юного любителя любовных зелий
	Не пытайтесь спрятатся от ликанитов в земле, они вас выкопают
	Знаменитый вампир открыл в стенах Города свою сеть цирюлен
	Ходят слухи о возобновлении строительства Рабочего Района Города
	Если вы увидели Бога и не сошли с ума - предположительно перед вами самозванец
	Встретив висящий в воздухе силуэт знакомой вам души - притворитесь, что вы этого не видели
	У стен и даже воздуха есть глаза и они все записывают, помните об этом.
	Элиаль соблазняет молодые души сокровищами и превращает их в рабов. Не верьте ему.
	По заверениям Двора - Городом никогда не будет управлять женщина.
	Иногда даже самого могущественного героя может остановить простая дверь. Чудеса случаются, обломы тоже
	Ведущий метафизио-психолог Города заявляет, что мы живём в лучшее время в жизни многих душ
	Если вам говорят, что раньше было лучше - вы наверняка общаетесь с самозабвенным реликтом
	Слово Властвует имеет одну лишнюю букву
	Завтра может не наступить
	Иногда сильные душой мальчишки побеждают закостеневших генералов
	Если странный бородатый мужчина подходит к вам и предлагает подержать его посох, не стоит отказывать себе в этом удовольствии 
	Иногда на Тверди случаются дожди из чихуахуа. Не забывайте надевать каски! 
	Говорят, где-то в канализации Города бегает крыса в бомбере 
	Один из управленцев Города был жестоко убит на пороге собственного дома. С тех пор все кузнецы на карандаше у местных СБшников 
	Однажды житель города достиг такого мастерства в дрессировке, что научил свою собаку метать кинжалы! 
	Жители некоторых деревень сообщают, что видели быстро плавающую доску, на которой было кресло. Лодочник так и не был распознан 
	Город славится своими бездонными подвалами с барами, лабораториями, библиотеками и чего там вообще только не найдёшь!
	Внимание! Розыск: небольшая фигура с гигантским леденцом, передвигающаяся по крышам ночного Города 
	Может, золотые лопаты плохо копают, но зато кое-что другое делают просто на ура 
	Остерегайтесь мужчин в солнцезащитных очках и с вёдрами молока. 
	Чтобы не умереть от выстрела с неизвестной позиции, будьте осторожнее и носите хорошую броню. 
	Тираны и диктаторы обожают летающий транспорт, так что перед революцией обзаведитесь ПВО. 
	Однажды было основано поселение на шляпке гигантского гриба, но его съел великан 
	Всегда носите с собой рыбу, чтобы откупаться от вездесущих мурлоков 
	В одном форте водятся невидимые стражники, непрестанно караулящие камеры. Жаль, что заключённые верят в это 
	Что будет, если в бездонный колодец уронить бесконечную верёвку? 
	Сракарыба - миф или реальность? 
	Говорят, по Тверди ходит мужчина в колпаке и синем плаще. Он несёт с собой равенство и демократию 
	Смотрите под ноги: даже среди чистого поля вы можете провалиться в аномальный толчок 
	Где-то на востоке стоит одинокая церквушка из брёвен. Мертвецы обходят её стороной 
	Один портной так полюбил тюрьму, что решил зашиться в ней навсегда 
	Скелеты предпочитают жить в подвалах или роскошных пригородных особняках, третьего не дано 
	Делёжка подвалов - старая народная забава жителей Города 
	Если у вас не хватает стрел, посетите общежитие в центре города, там есть парочка скелетов с бесконечным боезапасом 
	Рыжий мальчишка нашёл таумономикон, а через месяц написал к нему второй том
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}
